.notification-icon-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    background: #2F1A6199;
}

.circle.outer {
    width: 200px;
    height: 200px;
    opacity: 0.2;
    border: 1px solid #644D9A;
    border: 2px solid #49318266;
    animation: pulse 3s infinite ease-in-out;
    background: #190E3466;
}

.circle.middle {
    width: 160px;
    height: 160px;
    opacity: 0.3;
    border: 1px solid #644D9A;
    animation: pulse 3s infinite ease-in-out 0.2s;
}

.icon-container {
    width: 120px;
    height: 120px;
    background: #3a1a72;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.icon-container.animate svg {
    animation: bellShake 0.5s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bellShake {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(15deg) translateY(-5px);
    }
    40% {
        transform: rotate(-15deg) translateY(0);
    }
    60% {
        transform: rotate(15deg) translateY(-5px);
    }
    80% {
        transform: rotate(-15deg) translateY(0);
    }
    100% {
        transform: rotate(0) translateY(0);
    }
}